<!DOCTYPE html>
<html>
<head>
  <title>BeweeApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if client_signed_in? %>
		<%= link_to "Salir", destroy_client_session_path, method: :delete %>
	<% else %>
		<%= link_to "Registro", new_client_registration_path, class: "btn btn-primary btn-large" %>
		<%= link_to "Entrar", new_client_session_path, class: "btn btn-primary btn-large" %>
	<% end %>
<%= yield %>

</body>
</html>
